.offer {
    text-align: center;
    background: white;
}
.offerheader1 {
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5%;
    border: solid 1px purple;
    background-color: purple;
}
.offerbody1 {
    padding: 5%;
    color: purple;
    border: solid 1px purple;
    border-bottom-color: white;
}
.offerfooter1 {
    padding: 5%;
    color: purple;
    border-top-color: white;
    border: solid 1px purple;
}