@font-face {
    font-family: 'nazanin';
    src: url('http://127.0.0.1/NarTik/pack/fonts/nazanin.TTF');
    font-style: normal;
}

.main {
    background: #f4f4f4;
}
.navs {
    text-align: center;
}

body {
    padding: 56px;
    font-family: 'nazanin';
}