body {
    user-select: none;
}

@font-face {
    font-family: vazir;
    src: url("../fonts/vazir/Vazir.ttf");
}

* {
    font-family: vazir, sans-serif;
}

.main {
    background: url('https://wallpapercave.com/wp/wp3797593.jpg') no-repeat center center;
    /*background: url('https://wallpapercave.com/wp/wp8272239.jpg') no-repeat center center;*/
    text-align: left;
    direction: rtl;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    padding: 3%;
    /*filter: blur(1px);*/
    /*opacity: 80%;*/
    color: white;
}

.text {
    padding: 3%;
    text-align: left;
}

.main .mbtn {
    color: black;
    /*width: 25%;*/
    background: #aaa;
    font-weight: bold;
}

.center {
    direction: rtl;
    text-align: right;
}