@font-face {
    font-family: iransans;
    src: url("../fonts/iransans/iransans.ttf");
    font-style: normal;
}

* {
    font-size: 13px;
    font-family: iransans, serif;
}

.bar {
    padding: 1%;
}

.link {
    text-decoration: none;
}